<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"></span>
                        <span class="text-muted text-xs block">Bienvenido <b></b></span>
                    </a>
                </div>
                <div class="logo-element">
                </div>
            </li>

            <li>
                <a href="#"><i class="fa fa-list"></i> <span class="nav-label">Listados</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'apiv1:ranking_sellers' %}"><i class="fa fa-money"></i> Vendedores - Top 5</a></li>
                    <li><a href="{% url 'apiv1:ranking_publishings' %}"><i class="fa fa-send"></i> Publicaciones</a></li>
                    <li><a href="{% url 'apiv1:connect_ml' %}"><i class="fa fa-plug"></i> Conectar a Meli</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>